.App {
  text-align: center;
  background-color: rgb(201, 201, 201);
}

html {
  height: 100%;
  width: 100%;
  background-color :rgb(201, 201, 201);
}

.navbar-brand, .nav-link {
  color: white!important;
}

.navbar-expand-lg {
  background: red!important;
}

.title {
  font-size: 80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 40px;
}

.h1-title {
  color: blue;
  font-size: 40px;
  padding-top: 40px;
  font-weight: 800;
}

.image {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 30%;
  margin: 80px 0 0 100px;
  border-radius: 10%;
}

.info {
  position: relative;
  left: 350px;
  bottom: 300px;
  padding: 100px;
}

.area {
  font-size: 35px;
  margin-top: -230px;
}

.category {
  font-size: 28px;
}

.ingredients {
  font-size: 18px;
}

.recipe {
  margin-top: 30px;
  font-size: 20px;
}

.video {

}

.ing-div {
  margin-top: 70px;
}

.ing-title {
  font-size: 28px;
}